* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text_color: #f1f1f1;
    --background_color: #040404;
    --line_color: #14223f;
    --shadow: rgb(104, 104, 104);
}

.header {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: var(--background_color);
}

.header h1 {
    display: inline-block;
    font-size: 225%;
    text-align: right;
    padding-left: 80px;
    padding-right: 10px;
    background-color: var(--line_color);
    color: var(--text_color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', sans-serif
}

.header nav {
    padding-top: 15px;
    float: right;
    font-size: 125%;
    padding-right: 60px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a {
    color: var(--text_color);
}

.image {
    padding-top: 200px;
    padding-bottom: 40px;
    background-image: url(./Images/topography.jpeg);
}

h2 {
    font-size: 250%;
    text-align: right;
    background-color: var(--line_color);
    color: var(--text_color);
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 500px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}

.margin {
    margin-right: 60px;
    margin-left: 60px;
}

.main-heading {
    display: flex;
    margin-top: 50px;
    margin-right: 92px;
}

#h3-header {
    border-right: 3px solid var(--background_color);
    flex: 20%
}

#h3-header h3 {
    font-size: 250%;
    color: var(--line_color);
    padding-right: 20px;
    text-align: right;
}

#about-me-para {
    flex: 80%;
}

#about-me-para p {
    font-size: 140%;
    color: var(--background_color);
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}

.works1 {
    flex: 80%;
    padding-left: 30px;
}

.works1 #background_image_1 {
    border: 7px solid var(--line_color);
    margin-bottom: 50px;
    margin-top: -25px;
    filter: blur(1px);
    width: 100%
}

#work_text_1 {
    position: relative;
    font-size: 250%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 330px;
    background-color: var(--line_color);
    color: var(--text_color);
    padding-left: 60px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
    z-index: 1;
}

.works1 #background_image_2 {
    border: 7px solid var(--line_color);
    margin-bottom: 40px;
    filter: blur(1px)
}

#work_text_2 {
    position: relative;
    font-size: 250%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--line_color);
    top: -85px;
    left: -447px;
    padding-left: 60px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
    color: var(--text_color);
}

.works1 #background_image_3 {
    border: 7px solid var(--line_color);
    margin-bottom: 50px;
    float: right;
    margin-left: 100px;
    margin-top: -262px;
    filter: blur(1px)
}

#work_text_3 {
    position: relative;
    font-size: 250%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--line_color);
    left: -123px;
    top: -85px;
    padding-left: 60px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
    color: var(--text_color);
}

.works1 #background_image_4 {
    border: 7px solid var(--line_color);
    margin-bottom: 30px;
    filter: blur(1px)
}

#work_text_4 {
    position: relative;
    font-size: 250%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--line_color);
    top: -75px;
    left: -447px;
    padding-left: 60px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
    color: var(--text_color);
}

.works1 #background_image_5 {
    border: 7px solid var(--line_color);
    margin-bottom: 20px;
    float: right;
    margin-left: -100px;
    margin-top: -252px;
    filter: blur(1px)
}

#work_text_5 {
    position: relative;
    font-size: 250%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--line_color);
    left: -123px;
    top: -75px;
    padding-left: 60px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
    color: var(--text_color);
}

#background_image_1:hover,
#background_image_2:hover,
#background_image_3:hover,
#background_image_4:hover,
#background_image_5:hover {
    box-shadow: inset 2px 2px 2px var(--shadow), 0 0 8px var(--shadow);
    filter: blur(0px);
    cursor: pointer;
}

#contacts {
    flex: 80%;
}

#contacts ul li {
    margin-left: 30px;
    display: inline-block;
    padding-top: 10px;
}

#contacts ul li a {
    font-size: 140%;
    color: var(--background_color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    padding-right: 20px;
}

.footer {
    background-image: url(./Images/topography.jpeg);
    padding-bottom: 50px;
}

/* Media Queries*/
@media screen and (max-width: 1430px) and (min-width: 1300px) {
    #h3-header h3 {
        font-size: 240%;
    }

    #about-me-para p {
        font-size: 130%;
    }

    .works1 #background_image_1 {
        margin-bottom: 40px;
        width: 100%
    }
    
    #work_text_1 {
        font-size: 240%;
    }

    .works1 #background_image_2 {
        margin-bottom: 35px;
    }

    #work_text_2 {
        font-size: 240%;
    }
    
    .works1 #background_image_3 {
        margin-bottom: 35px;
        margin-top: -257px;
    }
    
    #work_text_3 {
        left: -175px;
        top: -85px;
        font-size: 240%;
    }

    #work_text_4 {
        font-size: 240%;
    }

    #work_text_5 {
        left: -175px;
        top: -85px;
        font-size: 240%;
    }

    #contacts ul li a {
        font-size: 120%;
        padding-right: 10px;
    }
}

@media screen and (max-width: 1299px) and (min-width: 1100px) {
    #h3-header h3 {
        font-size: 230%;
    }

    #about-me-para p {
        font-size: 120%;
    }

    .works1 #background_image_1 {
        margin-bottom: 35px;
        width: 100%
    }
    
    #work_text_1 {
        font-size: 230%;
        top: 250px;
        padding-left: 50px;
    }

    .works1 #background_image_2 {
        margin-bottom: 35px;
        width: 48%
    }
    
    .works1 #background_image_3 {
        margin-bottom: 35px;
        margin-top: -217px;
        width: 48%
    }
    
    .works1 #background_image_4 {
        margin-bottom: 30px;
        width: 48%
    }

    .works1 #background_image_5 {
        margin-bottom: 20px;
        margin-top: -214px;
        width: 48%;
    }

    #work_text_2 {
        font-size: 230%;
        left: -360px;
        top: -85px;
        padding-left: 50px;
    }

    #work_text_3 {
        left: -140px;
        top: -81px;
        font-size: 230%;
        padding-left: 50px;
    }

    #work_text_4 {
        font-size: 230%;
        left: -360px;
        top: -81px;
        padding-left: 50px;
    }

    #work_text_5 {
        font-size: 230%;
        left: -140px;
        top: -81px;
        padding-left: 50px;
    }

    #contacts ul li a {
        font-size: 120%;
        padding-right: 10px;
    }
}

@media screen and (max-width: 1099px) and (min-width: 900px) {
    #h3-header h3 {
        font-size: 220%;
    }

    #about-me-para p {
        font-size: 110%;
    }

    .works1 #background_image_1 {
        margin-bottom: 35px;
        width: 100%
    }
    
    #work_text_1 {
        font-size: 220%;
        top: 195px;
        padding-left: 50px;
    }

    .works1 #background_image_2 {
        margin-bottom: 35px;
        width: 100%
    }
    
    .works1 #background_image_3 {
        margin-bottom: 35px;
        top: 1000px;
        width: 100%;
    }
    
    .works1 #background_image_4 {
        margin-bottom: 30px;
        width: 100%
    }

    .works1 #background_image_5 {
        margin-bottom: 20px;
        width: 100%;
    }

    #work_text_2 {
        font-size: 220%;
        left: 0px;
        top: -85px;
        padding-left: 50px;
        z-index: 1;
    }

    #work_text_3 {
        left: -165px;
        top: -81px;
        font-size: 220%;
        padding-left: 50px;
    }

    #work_text_4 {
        font-size: 220%;
        left: -360px;
        top: -81px;
        padding-left: 50px;
    }

    #work_text_5 {
        font-size: 220%;
        left: -140px;
        top: -81px;
        padding-left: 50px;
    }

    #contacts ul li a {
        font-size: 110%;
        padding-right: 10px;
    }
}